body {
    font-family: 'EB Garamond', serif;
    background-image: url("https://wallpapercave.com/wp/WM8j8fk.jpg");
}

/* Page header */
header {
    position: fixed;
    top: 0;
}
/* Main container for the page */
.main-content {
    margin: auto;
}
/* Brand style */
span {
    padding: 5px;
    font-size: 24px;
}
/* Center class */
.center {
    justify-content: center;
}

/* Contact information card */
.info {
    justify-content: center;
    margin-top: 2em;
}
/* Main card positioning */
article {
    position: relative;
    top: 40px;
    margin-left: 20px;
    margin-bottom: 100px; 
}

i {
    font-size: 24px;
}

/* Card styling */
.card-style {
    margin: 20px 20px 20px;;
    float: left;
    border-radius: 5px;
}

/* .opacity {
    opacity: 95%;
} */
/* Easy to change text color */
.text-color {
    color: #D2D3D3;
}
/* Easy to change background color */
.bkgd-color {
    background: rgba(45, 48, 50, 0.8);
    /* background-color: #2D3032; */
    /* opacity: 95%; */
    
}

.contact-info {
    vertical-align: center;
}
/* Paragraphs on the information card */
.card-p {
    font-size: 16px;
    list-style: none;
    line-height: 20px;
}

/* Links on the information card */
.card-a {
    color: #0299df;
}

.card-a:hover {
    text-decoration: none;
    color:grey; 
}

/* About Me styling */
.my-title {
    font-family: 'EB Garamond', serif;
    font-size: 50px;
    font-weight: bold;
    padding: 25px 0px 15px;
    border-bottom: 2px solid grey;
}

/* Stunning image */
.about-me {
    float: left;
    margin: 5px 15px 5px 0px;
    width: 200px;
    height: 200px;
}

/* Stunning image */
.portfolio {
    float: left;
    margin: 5px 25px 50px 0px;
    max-width: 100%;
    max-height: 100%;
    /* border: 2px solid #0299df; */
    border-radius: 20px;
}
/* Titles for my projects */
.project-title {
    text-decoration: underline;
}

/* Button style */
button {
    background-color: #0299df ;     
    border: none;
    border-radius: 5px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-clock;
    font-size: 16px;
    margin-bottom: 20px;
}

/* Bragging */
p {
    font-size: 20px;
    padding: 7px;
 
}

/* Ribbon on top of footer */
.ribbon {
    height: 5px;
    background-color:#0299df;
    /* background-color: teal; */
    width: 100%;
}

/* Footer */
footer {
    position:fixed;
    bottom: 0;
    height: 60px;
    width: 100%;
    text-align: left;
    background-color:grey;
}
/* Change the padding to center the text */
footer p {
    float: left;
    margin-top: 10px;
    font-size: 16px;
    padding: 5px;
}

.contact {
    margin-top: 5px;
}

@media only screen and (max-width: 575px) {
    footer p {
        font-size: 12px;
    }
    
    .contact {
        font-size: 12px;
    }
  }